/*
$color-green-light: #6bc9f5;
$color-green-dark: #021d50;

.header{
    
    height:  95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-green-light, 0.7), 
        rgba($color-green-dark, 0.7)),
        url(../img/pozadi-2.jpg);
    background-size: cover;

    background-position: top;
    position: relative;

    //clip-path: polygon(0 0, 90% 0, 100% 100%, 10% 100%);
    clip-path: polygon(100% 100%, -436% 0%, 103% 0%, 100% 100%);
}

*/

    