////////////////////////////
//LOGO

.logo{
    height{

    }
}


////////////////////////////
//SEARCH

.search{
    background-color: orangered;
    &__icon{
        height: 2rem;
        width: 2rem;
    }
}