*{
    margin: 0;
    padding: 0;

}

*,
*::before,
*::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}


body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-blue-light);
    background-image: linear-gradient(to right bottom, var(--color-blue-light, 0.1), var(--color-blue-dark,));
    background-size: cover;
    background-repeat: no-repeat;

    min-height: 470vh;
    
}

.container{
    /*Odsazeni*/
    max-width: 124rem;
    margin: 8rem auto;
    
    
    background-color: var(--color-grey-light-1);
    box-shadow: var(--box-shadow-dark);
}

.header{
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--color-grey-light)-2;

    display: flex;
    justify-content: space-around;
    align-items: center;

    
}

.header img{
   height: 100%;
   margin-left: 1rem;
}

.content{
    display: flex;
   // height: 95vh;
    
}

section{
    min-height: 95vh;
}

.section-1{
    background-color: var(--color-grey-light-2);
        


}

.section-2{
    margin: 0 auto;
    
    
    padding: 5rem;
    max-width: 150vh;
    
    background-color: aliceblue;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 1px 5px 15px 1px #050505;
}


.section-3{
    
    max-width: 100rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
    margin-bottom: 10vh;
   
}
/*
SECTION 4
*/


.section-4 {
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 80%;
    height: 80%;
	display: flex;
    flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 1rem;
  font-size: 5rem;
  text-align: center;
  
}







  