:root{

    --color-blue-light: #2998ff;
    --color-blue-dark: #5643fa;

    --color-yellow-light: rgb(227, 252, 8);
    --color-yellowe-dark: rgb(119, 145, 5);

    --color-grey-light-1: #b9b9b9;
    --color-grey-light-2: #888686;
    --color-grey-dark: #3d3d3d;

    --color-black: rgb(0, 0, 0);
    --color-white: #fff;

    --default-font-size: 16px;
    --box-shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);

}

$color-green-light: #6bc9f5;
$color-green-dark: #021d50;

// ---------------------
// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;


